@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank you, @Model.Name!</h1>
        @if (@Model.WillAttend == true) 
        { 
            @:あなたが来てくれてとても嬉しいです。ドリンクはすでに冷蔵庫に入っています。
        }　else　{
            @:お越しいただけないと聞いて残念です。ご連絡ありがとうございます。
        }
    </div>
</body>
</html>
